<div class="nav-items">
    
    <div class="nav-item">
        <fa-icon [icon]="faCartShopping"></fa-icon>
        <a (click)="browse()"><span><span>Comprar Productos</span></span></a>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faCreditCard"></fa-icon>
        <a (click)="transactions()"><span><span>Mis Transacciones</span></span></a>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faUser"></fa-icon>
        <a (click)="editProfile()"><span>Mi Perfil</span></a>
    </div>
  </div>