@charset "UTF-8";
h1{
	margin-left: 10px;
}

body{
	text-align: center;
	background-color: rgb(249, 245, 204);
}

.input{
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid black;
}

.divInline{
	
}