@font-face{
  font-family: SedwigAveDisplay;
  src: url(fonts/SedgwickAveDisplay-Regular.ttf);
}

@font-face {
  font-family: TulpenOne;
  src: url(fonts/TulpenOne-Regular.ttf);
}

/*Whole Tag*/
body {
  background-color: rgb(29, 29, 29);
}

h3{
  color: white;
}
p{
  color: white;
}
/*Classes
Tags that use this class via attriute class="oneclass"
will apply this style
*/
.oneclass {
  background-color: lightyellow;
}
/*IDs
Tags that have this id via id="oneid"
will apply this style
*/
#oneid {
  background-color: lightcyan;
}

#p1{
  color: blue;
}

#p2{
  color: rgb(128, 106, 179);
}

#p3{
  color: #80d09a;
}

#p4{
  color: hsl(279, 82%, 59%);
}

.sansSerif{
  font-family: verdana;
}

.serif{
  font-family: 'Times New Roman';
}

.monospaced{
  font-family:  'Courier New';
}

.cursive{
  font-family: "Brush Script MT";
}

.wavefont{
  font-family: 'Wavefont', cursive;
}

.blackOpsOne{
  font-family: 'Black Ops One', cursive;
}

.robotoMono{
  font-family: 'Roboto Mono', sans-serif;
}

#div1{
  width: 100px;
  height: 80px;
  border: 2px solid white;
  box-shadow: 10px 10px 12px white;
}

.box{
  border: 5px solid;
  font-size: 4em;
  width: 250px;
  height: 250px;
}

#box1{
  background-color: red;
  margin: auto;
}

#box2{
  background-color: blue;
  margin-top: 50px;
  margin-left: 90px;
}

#img1{
  float: left;
  margin-right: 10px;
}

#img2{
  float: right;
  margin-right: 10px;
}

#flowDiv{
  border: 5px solid white;
  display: flow-root;
}
