body{
    font-family: 'Baloo Da 2';
    /* overflow-x: hidden; */
}

nav{
    box-shadow: 2px 2px 2px hsla(0, 0%, 83%, 0.587);
}

nav li:hover{
    background-color: lightgrey;
    border-radius: 10px;
    box-shadow: 2px 2px 2px hsla(0, 0%, 83%, 0.587);
}

.aboutme-section{
    background-image: url(images/Lizard.jpg);
    color: white;
    box-shadow: 5px 5px 5px lightgray;
}

.aboutme-image{
    clip-path: circle(210px) ;
}

.separator{
    height: 100px;
}

.projects-section{
    background-image: url(images/Petrol.jpg);
}

.projects-image{
    width: 90%;
    box-shadow: 5px 5px 5px rgb(29, 29, 29);
}

.projecs-flexbox-videos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.projects-video{
    width: 32%;
}