h1{
	text-align: center;
	color: red;
	background-color: gray;
	font-weight: bolder;
	font-size: 50px;
}
.fondoimagen{
	background-image: url("https://e0.pxfuel.com/wallpapers/622/399/desktop-wallpaper-remake-of-the-2012-classic-minecraft-minecraft-pink-minecraft.jpg");
}
/*Estilos de clase*/
.titulosecundario{
	color: orange;
	background-color: black;
	font-size: 25px;
}
.tituloterciario{
	color: blue;
	background-color: yellow;
	font-size: 40px;
}
.otherclass{
	font-family: fantasy;
}