.main-container {
    display: flex;
}

.side-nav {
    width: 350px;
    min-width: 230px;
    min-height: calc(100vh - 70px);
    background-color: #113c60;
    color: #fff;
    box-shadow: 5px 5px 5px #939393;
}

.main {
    padding: 10px;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}