<div class="nav-items">
    <div class="nav-item">
        <fa-icon [icon]="faBell"></fa-icon>
        <a routerLink="/admin/auditorias"><span><span>Auditorías</span></span></a>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faLayerGroup"></fa-icon>
        <a routerLink="/admin/categorias"><span><span>Categorías</span></span></a>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faBuildingColumns"></fa-icon>
        <a routerLink="/admin/entidadesFinancieras"><span><span>Entidades Financieras</span></span></a>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faBagShopping"></fa-icon>
        <a routerLink="/admin/franquicias"><span><span>Franquicias</span></span></a>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faCoins"></fa-icon>
        <a routerLink="/admin/mediosDePago"><span><span>Medios de Pago</span></span></a>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faCode"></fa-icon>
        <a routerLink="/admin/parametros"><span><span>Parámetros</span></span></a>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faCartShopping"></fa-icon>
        <a routerLink="/admin/productos"><span><span>Productos</span></span></a>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faUsers"></fa-icon>
        <a routerLink="/admin/tiposUsuario"><span><span>Tipos de Usuario</span></span></a>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faArrowsTurnToDots"></fa-icon>
        <a routerLink="/admin/tiposTx"><span><span>Tipos de Transacciones</span></span></a>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faCreditCard"></fa-icon>
        <a routerLink="/admin/transacciones"><span><span>Transacciones</span></span></a>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faUser"></fa-icon>
        <a routerLink="/admin/usuarios"><span>Usuarios</span></a>
    </div>
  </div>